.ProjectsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: beige;
    padding: 18rem 0;
}

.ProjectsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 10rem;
    color: #242424;
}

.Projects {
    width: 50%;
    display: flex;
}