.ProjectsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:200px;
    background-color: beige;
}

.ProjectsTitle {
    width: 50%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    color: #fff;
}

.Projects {
    width: 50%;
    display: flex;
}