.resultWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.resultContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 25rem;
  flex: 2 1 0%;
  min-width: 0;
}

.bouncer {
  flex: 1 1 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
}

.bouncer img {
  max-width: 100%;
  height: auto;
  width: 100%;
  max-height: 500px;
}

.resultTitle {
  font-size: 2rem;
  color: #232323;
}

.resultGif {
  width: 200px;
  height: 200px;
}

.ctaWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

.primaryBtn {
    background: #6c36bd;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
}

.secondaryBtn {
    background: #232323;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
}
}